@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

@model PalaganasTechnicalExam.Models.ViewModels.AddUserViewModel
<h1>
	Add User
</h1>
<form method="post">
	<br />
	<div class="form-group">
		<label asp-for="FirstName" class="form-label">First Name</label>
		<input type="text" class="form-control" asp-for="FirstName" placeholder="John">
		<span asp-validation-for="FirstName" class="text-danger"></span> <!-- Correct syntax -->
	</div>
	<br />
	<div class="form-group">
		<label asp-for="LastName" class="form-label">Last Name</label>
		<input type="text" class="form-control" asp-for="LastName" placeholder="Doe">
		<span asp-validation-for="LastName" class="text-danger"></span> <!-- Correct syntax -->
	</div>
	<br />
	<div class="form-group">
		<label asp-for="Email" class="form-label">Email</label>
		<input type="email" class="form-control" asp-for="Email" placeholder="johndoe@gmail.com">
		<span asp-validation-for="Email" class="text-danger"></span> <!-- Correct syntax -->
	</div>
	<br/>
	<div class="form-group">
		<button type="submit" class="btn btn-primary">Submit</button>
	</div>
</form>
@* @section Scripts { *@
@* 	<partial name="_ValidationScriptsPartial" /> *@
@* } *@

